#playerlist {
    color: black;
    background-color:;
    padding: 80px 0;
    width: 100%;
    height:600px ;
    font-size: x-large;
}
body {
    background-color: #4d79ff;
}
ul {
    list-style: none;
    line-height: 300%;
}
li {
    color:white ;
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    height: 100px;


}
h1 {

    color:#9FB7FE ;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 80px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;
}
h2 {
    color: #235AFF;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;

}
#avatar{
    left: 0px;
}
img {
    float: left;
    width: 100px;
    height: 100px;
}
li span {
    padding-left: 20px;
    line-height: 100px;
}